autom4te.cache
src/Makefile
src/Makefile.in
src/stamp-*
src/*.o
src/.deps
src/.libs
src/foxtrotnogps
src/foxtrotnogps.exe

*.m4
autogen.sh
compile
config.h
config.h.in
config.log
config.status
config.guess
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-*
